
<p>Numero de preguntas: <%= quizes.length %></p>
<p>Numero de comentarios totales: <%= comentarios.length %></p>
<p>Numero medio de comentarios por pregunta: <%= nMedio %></p>
<p>Numero de preguntas sin comentarios: <%= preg_sinC %></p>
<p>Numero de preguntas con comentarios: <%= preg_conC %></p>